<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="paulinaramos.cs160.berkeley.edu.planetize" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/planetizeicontransparent"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Splash screen -->
        <activity
            android:name="paulinaramos.cs160.berkeley.edu.planetize.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="paulinaramos.cs160.berkeley.edu.planetize.MainActivity"
            android:label="Planetize"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>





